@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grecos Lanches</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

</style>
</head>

<body>

    <header>
        <nav>
            <div class="logo">🍔 Grecos Lanches</div>

            <div class="menu">
                <a href="#cardapio">Cardápio</a>
                <a href="#sobre">Sobre</a>
                <a href="#contato">Contato</a>
            </div>
        </nav>
    </header>

    <section class="hero">
        <div class="hero-content">
            <h1>🍔 Sabor que <span>conquista</span> na primeira mordida</h1>

            <p>
                Ingredientes selecionados, carne artesanal
                e sabor inesquecível.
            </p>

            <a href="#cardapio" class="btn">
                Ver Cardápio
            </a>
        </div>
    </section>

    <section id="cardapio" class="section">
        <h2 class="section-title">Nosso Cardápio</h2>

        <div class="cards">

            <div class="card">
                <img src="/img/xbacon.jpeg">
                <div class="card-content">
                    <h3>X-Bacon Especial</h3>
                    <p>Pão brioche, hambúrguer artesanal e bacon crocante.</p>
                    <div class="price">R$ 24,99</div>
                    <button class="btn" onclick="adicionarCarrinho('X-Bacon Especial',29.99)">
                        Adicionar ao Carrinho
                    </button>
                </div>
            </div>

            <div class="card">
                <img src="/img/xtudo.jpeg">
                <div class="card-content">
                    <h3>X-Tudo Supremo</h3>
                    <p>Duplo hambúrguer, queijo, bacon e molho especial.</p>
                    <div class="price">R$ 29,99</div>
                    <br>
                    <button class="btn" onclick="adicionarCarrinho('X-Tudo Supremo',29.99)">
                        Adicionar ao Carrinho
                    </button>
                </div>
            </div>

            <div class="card">

            </div>

        </div>
    </section>

    <section class="section">
        <h2 class="section-title">Seu Pedido</h2>

        <div class="about">
            <div id="listaCarrinho"></div>

            <h3 id="totalPedido">Total: R$ 0,00</h3>

            <br>

            <input type="text" id="nome" placeholder="Seu nome" style="padding:10px;width:100%;margin-bottom:10px;">

            <input type="text" id="endereco" placeholder="Seu endereço"
                   style="padding:10px;width:100%;margin-bottom:10px;">

            <button class="btn" onclick="finalizarPedido()" style="padding:12px 20px;cursor:pointer;">
                Finalizar Pedido
            </button>
        </div>
    </section>

    <section id="sobre" class="section">
        <h2 class="section-title">Peça agora e experimente o melhor lanche da cidade! 🚀🍔🥤</h2>

        <div class="about">

        </div>
    </section>

    <section id="contato" class="section">
        <h2 class="section-title">Contato</h2>

        <div class="about">
            📍 Apenas Loja Online<br><br>
            📞 (48)9881-01553 <br><br>
            🕒 De Sexta a Domingo, 19h ás 00h
        </div>
    </section>

    <footer>
        © 2026 Grecos Lanches
    </footer>

    <a class="whatsapp" href="https://wa.me/5548988101553?text=Olá,%20gostaria%20de%20fazer%20um%20pedido!"
       target="_blank">
        📱
    </a>

    <script>
            let carrinho = [];


            function removerItem(index) {
                carrinho.splice(index, 1);
                atualizarCarrinho();
            }

            function adicionarCarrinho(nome, preco) {

                carrinho.push({
                    nome: nome,
                    preco: preco
                });

                atualizarCarrinho();
            }

            function atualizarCarrinho() {

                let lista = document.getElementById("listaCarrinho");
                let totalElemento = document.getElementById("totalPedido");

                lista.innerHTML = "";

                let total = 0;

                carrinho.forEach((item, index) => {

                    lista.innerHTML += `
                            <p>
                                ${item.nome} - R$ ${item.preco.toFixed(2)}
                                <button onclick="removerItem(${index})">
                                    ❌
                                </button>
                            </p>
                        `;

                    total += item.preco;
                });

                totalElemento.innerHTML =
                    `Total: R$ ${total.toFixed(2)}`;
            }

            function finalizarPedido() {

                if (carrinho.length === 0) {
                    alert("Adicione itens ao carrinho.");
                    return;
                }

                let nome = document.getElementById("nome").value;
                let endereco = document.getElementById("endereco").value;

                let total = 0;
                let itens = "";

                carrinho.forEach(item => {
                    itens += `• ${item.nome} - R$ ${item.preco.toFixed(2)}%0A`;
                    total += item.preco;
                });

                let mensagem =
                    `🍔 NOVO PEDIDO%0A%0A` +
                    `👤 Nome: ${nome}%0A` +
                    `📍 Endereço: ${endereco}%0A%0A` +
                    `🛒 Itens:%0A${itens}%0A` +
                    `💰 Total: R$ ${total.toFixed(2)}`;

                window.open(
                    `https://wa.me/5548988101553?text=${mensagem}`,
                    "_blank"
                );
            }
    </script>

</body>

</html>