@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Delícias da Fome 🍔</title>

    <style>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: Arial;
            }

            body {
                background: linear-gradient(180deg, #ff914d, #ffde59);
                min-height: 100vh;
                padding: 20px;
            }

            .container {
                max-width: 600px;
                margin: auto;
                background: white;
                padding: 25px;
                border-radius: 25px;
                box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
            }

            h1 {
                text-align: center;
                color: #ff5e00;
                margin-bottom: 10px;
                font-size: 40px;
            }

            .sub {
                text-align: center;
                margin-bottom: 25px;
                color: #555;
            }

            .card {
                background: #fff4ec;
                border-radius: 20px;
                padding: 15px;
                margin-top: 15px;
            }

            .card h2 {
                color: #ff5e00;
                margin-bottom: 10px;
            }

            label {
                display: block;
                margin-top: 10px;
                margin-bottom: 5px;
                font-weight: bold;
            }

            input,
            textarea {
                width: 100%;
                padding: 12px;
                border: none;
                border-radius: 12px;
                background: #f2f2f2;
            }

            .item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: white;
                padding: 10px;
                border-radius: 12px;
                margin-top: 10px;
            }

            .item input {
                width: 70px;
                text-align: center;
            }

            button {
                width: 100%;
                padding: 15px;
                border: none;
                border-radius: 15px;
                background: #25d366;
                color: white;
                font-size: 20px;
                margin-top: 25px;
                cursor: pointer;
                transition: 0.3s;
            }

            button:hover {
                transform: scale(1.03);
            }
    </style>
</head>

<body>

    <div class="container">

        <h1>🍔 Greco's Lanche</h1>

        <p class="sub">
            Os melhores lanches da cidade 😋
        </p>

        <div class="card">

            <label>Seu nome</label>
            <input type="text" id="nome">

            <label>Seu endereço</label>
            <input type="text" id="endereco">

            <label>Observação</label>
            <textarea id="obs"></textarea>

        </div>

        <div class="card">

            <h2>Monte seu pedido 🍟</h2>

            <div class="item">
                <span>🍔 X-Frango </span>
                <input type="number" id="burger" min="0" value="0">
            </div>

            <div class="item">
                <span>🥓 X-Bacon</span>
                <input type="number" id="bacon" min="0" value="0">
            </div>

            <div class="item">
                <span>🥗 X-Salada</span>
                <input type="number" id="salada" min="0" value="0">
            </div>

            <div class="item">
                <span>🌭 Cachorro Quente</span>
                <input type="number" id="hotdog" min="0" value="0">
            </div>

            <div class="item">
                <span>🍔🍔🍔 Combo 3 X-Salada</span>
                <input type="number" id="burger" min="0" value="0">
            </div>

            <div class="item">
                <span>🥤 Refrigerante</span>
                <input type="number" id="refri" min="0" value="0">
            </div>


        </div>

        <button onclick="enviarPedido()">
            📲 Fazer Pedido
        </button>

    </div>

    <script>

            function enviarPedido() {

                let nome = document.getElementById("nome").value;
                let endereco = document.getElementById("endereco").value;
                let obs = document.getElementById("obs").value;

                let burger = document.getElementById("burger").value;
                let bacon = document.getElementById("bacon").value;
                let salada = document.getElementById("salada").value;
                let hotdog = document.getElementById("hotdog").value;
                let combo = document.getElementById("combo x-salada").value;
                let refri = document.getElementById("refri").value;

                let pedido = "";

                if (burger > 0) {
                    pedido += `X-Burger: ${burger}\n`;
                }

                if (bacon > 0) {
                    pedido += `X-Bacon: ${bacon}\n`;
                }

                if (salada > 0) {
                    pedido += `X-Salada: ${salada}\n`;
                }

                if (hotdog > 0) {
                    pedido += `Cachorro Quente: ${hotdog}\n`;
                }

                if (combo > 0) {
                    pedido += `Cachorro Quente: ${combo}\n`;
                }

                if (refri > 0) {
                    pedido += `Refrigerante: ${refri}\n`;
                }

                let mensagem =
                    `NOVO PEDIDO

                        Cliente:
                        ${nome}

                        Endereço:
                        ${endereco}

                        Pedido:
                        ${pedido}

                        Observação:
                        ${obs}`;

                let telefone = "48988101553";

                let url =
                    `https://wa.me/${telefone}?text=${encodeURIComponent(mensagem)}`;

                window.open(url, "_blank");
            }

    </script>

</body>

</html>