html {
  font-size: 14px;
}


@media(max-width:768px) {

  .hero h1 {
    font-size: 40px;
  }

  .section-title {
    font-size: 30px;
  }

  .menu {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgb(0, 0, 0);
  color: #fff;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, .9);
  padding: 15px 8%;
}

nav {
  display: flex;
  align-items: center;
}

.logo {
  color: #ffb703;
  font-size: 28px;
  font-weight: 700;
}

.menu a {
  color: #fff;
  text-decoration: none;
  margin-left: 25px;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 120px 8%;
  background:
    linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),
    url('https://images.unsplash.com/photo-1568901346375-23c9450c58cd?w=1600');
  background-size: cover;
  background-position: center;
}

.hero-content {
  max-width: 650px;
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.hero span {
  color: #ffb703;
}

.hero p {
  font-size: 20px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  background: #ffb703;
  color: #111;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 50px;
  font-weight: 600;
}

.section {
  padding: 90px 8%;
}

.section-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.card {
  background: #1d1d1d;
  border-radius: 15px;
  overflow: hidden;
  transition: .3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card-content {

  padding: 20px;
}

.card h3 {
  margin-bottom: 10px;
  color: rgb(255, 115, 0);

}

.price {
  color: #ffb703;
  font-size: 22px;
  font-weight: 700;
  margin-top: 10px;
}

.about {
  text-align: center;
  max-width: 900px;
  margin: auto;
  font-size: 18px;
  line-height: 1.8;
}

footer {
  background: #000;
  text-align: center;
  padding: 30px;
}

.whatsapp {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #25d366;
  color: #fff;
  text-decoration: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}


.card-content p {
  color: white;
}